.repositoryItemContainer {
  width: 100%;
  background-color: #ffffff0f;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .repositoryItemContainer {
    margin-bottom: 20px;
    padding: 20px;
  }
}

.repoHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.repoAvatarUrl {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .repoAvatarUrl {
    height: 50px;
    width: 50px;
  }
}

.repoItemHeading {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #3b82f6;
}

@media screen and (min-width: 768px) {
  .repoItemHeading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
  }
}

.repoItemDesc {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .repoItemDesc {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
}

.languagesListContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.repoCountContainer {
  display: flex;
}

.starContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .starContainer {
    margin-right: 10px;
  }
}

.start-image {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .start-image {
    height: 20px;
    width: 20px;
  }
}

.repoItemStar {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
}

.forksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .forksContainer {
    margin-right: 10px;
  }
}

.git-image {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .git-image {
    height: 20px;
    width: 20px;
  }
}

.repoItemForks {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
}
.repoLinkContainer {
  width: 100%;
  text-decoration: none;
}

/*.link {
  text-decoration: none;
}
.repo-item-container {
  background-color: #132240;
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  font-family: 'Roboto';
}
.repo-item-name {
  color: #3b82f6;
  font-weight: 500;
  text-align: left;
  font-size: 20px;
}
.repo-item-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  margin-top: 8px;
}
.languages-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.repos-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stargazersCount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.repos-icon {
  height: 20px;
  width: 20px;
}
.count {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  margin-left: 7px;
}
*/
