.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-data-img {
  width: 560px;
  height: 440px;
}
.no-data-heading {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
.no-data-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  color: #94a3b8;
  text-align: center;
  margin-top: 15px;
}
.go-to-Home-button {
  background-color: #3b82f6;
  border: none;
  border-radius: 8px;
  height: 35px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
}
