.repositoriesContainer {
  min-height: 90vh;
  background-color: #0f172a;
}
.repository-loader-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repositoryFailureContainer {
  padding: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.style {
  color: white;
}
.noDataFoundContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repo-no-data-img {
  height: 250px;
  width: 250px;
}
.repo-no-data-heading {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 32px;
  color: #f8fafc;
}

.repo-no-data-desc {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 18.24px;
  text-align: center;
  color: #f8fafc;
}
.goto-home-button {
  height: 35px;
  width: 100px;
  background-color: #f8fafc;
  border: none;
  font-family: 'Roboto';
  cursor: pointer;
}

.repositories-success-container {
  min-height: 90vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.repositorySuccessHeading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #f8fafc;
}

.repositorySuccessListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .repo-no-data-img {
    height: 300px;
    width: 300px;
  }
  .repo-no-data-heading {
    font-size: 32px;
    line-height: 48px;
  }
  .repo-no-data-desc {
    font-size: 20px;
    line-height: 32px;
  }
  .repositories-success-container {
    padding-left: 300px;
    padding-right: 300px;
  }
  .repositorySuccessHeading {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
  }
}
.noDataRepoAnalysisContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-data-image {
  width: 300px;
}
@media screen and (min-width: 768px) {
  .no-data-image {
    width: 500px;
  }
}
.noDataHeading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #f8fafc;
}
@media screen and (min-width: 768px) {
  .noDataHeading {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
  }
}

/*.repos-bg-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 30px;
  min-height: 100vh;
}
.home-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.home-img {
  width: 560px;
  height: 440px;
}
.heading {
  font-family: 'Roboto';
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
.retry-button {
  background-color: #3b82f6;
  border: none;
  border-radius: 8px;
  height: 35px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
}
.no-repositories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-repos-img {
  width: 560px;
  height: 440px;
}
.no-repos-text {
  font-family: 'Roboto';
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
.repos-container {
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.repos-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  text-align: left;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 8px;
}
.each-repo-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  text-decoration: none;
}
.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-data-img {
  width: 560px;
  height: 440px;
}
.no-data-heading {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
.no-data-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  color: #94a3b8;
  text-align: center;
  margin-top: 15px;
}
.go-to-Home-button {
  background-color: #3b82f6;
  border: none;
  border-radius: 8px;
  height: 35px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
}
*/
