.repoItemDetailsContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .repoItemDetailsContainer {
    padding-left: 300px;
    padding-right: 300px;
  }
}
.repositoryItemContainer1 {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff0f;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .repositoryItemContainer1 {
    padding: 20px;
  }
}
.commit-issues-count-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .commit-issues-count-container {
    display: flex;
    flex-direction: row;
  }
}
.repo-item-counts-container {
  border: 1px solid #cbd5e1;
  margin-bottom: 15px;
  width: 150px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .repo-item-counts-container {
    margin-right: 20px;
  }
}
.repo-item-count-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.repo-item-counts {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.contributors-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contributors-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.contributors-desc {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #cbd5e1;
}
.contributors-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pieChart-language-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #f8fafc;
}






/*
.repositoriesContainer {
  background-color: #0f172a;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
}
.repo-eachItem-container {
  background-color: #132240;
  width: 90%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto';
  text-align: left;
  align-self: flex-start;
}
.repo-color-name {
  font-size: 30px;
  color: #3b82f6;
  font-weight: 650;
}
.description-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 450;
  text-align: left;
}
.text {
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
}
.languages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.repo-forks-stars-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.repos-forks-stars-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.stars-img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.forks-text {
  font-size: 14px;
  color: #ffffff;
  font-weight: 450;
}
.commits-issues-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.commits-issues-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid #ffffff;
  margin-right: 15px;
  padding: 8px;
  text-align: center;
  height: 70px;
  width: 200px;
}
.commits-text {
  font-size: 17px;
  color: #ffffff;
  font-weight: 450;
  text-align: center;
}
.contributors-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contributors-count {
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
  margin-right: 10px;
  padding-right: 8px;
}
contributors-count-text {
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
}
.text-heading {
  font-size: 27px;
  color: #ffffff;
  font-weight: 550;
  margin-bottom: 18px;
}
.count-text {
  font-size: 16px;
  color: #ffffffe7;
  font-weight: 450;
  text-align: center;
  margin-top: 5px;
}
.contributor-images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pie-chart-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pie-container {
  display: flex;
  justify-content: left;
}
*/